<form name="contact-BIB" method="POST" data-netlify-recaptcha="true" data-netlify="true">
     <div class="container" style="max-width: 600px">
          <div class="row">
               <div class="six columns">
                    <label for="Fname">First Name</label>
                    <input class="u-full-width" type="text" id="Fname" name="Fname">
               </div>
               <div class="six columns">
                    <label for="Lname">Last Name</label>
                    <input class="u-full-width" type="text" id="Lname" name="Lname">
               </div>
          </div>
          <div class="row">
               <div class="twelve columns">
                    <label for="message">Message</label>
                    <textarea class="u-full-width" type="text" id="message"></textarea>
               </div>

          </div>
          <div class="row">
               <div class="twelve columns" data-netlify-recaptcha="true"></div>
          </div>
          <div class="row">
               <div class="twelve columns">
                    <input class="u-pull-right" type="submit" value="Send">
               </div>

          </div>
     </div>
</form>
