<div class="row" id="footer">
    <div class="footer">

        © 2019 Blue Iris Books<br>All rights reserved.<br><a style="color:white" href="{{ site.baseurl}}/privacy">Privacy Policy</a>

    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56280078-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-56280078-2');
</script>
